<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <title>Kulture soviet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href=""/>
    <link rel="shortcut icon" href="" type="image/x-icon"/>
    <style>
        * { outline: 0; -webkit-font-smoothing: antialiased; }
        ::-webkit-scrollbar { width: 8px; }
        ::-webkit-scrollbar-thumb { background: #F75708; border-radius: 10px; }
        input::-webkit-input-placeholder { transition: .2s; }
    </style>
    <link href="" rel="stylesheet"/>
</head>
<body>
    <div class="page-wrap">
        <header class="header">
            <div class="section mod--header">
                <div class="content">
                    <div class="columns mod--header">
                        <div class="col col--1 mod--header">
                            <a href="index.html#" class="logo-link"><img src="" alt="Logo"/></a>
                        </div>
                        <div class="col col--2 mod--header">
                            <nav>
                                <a href="index.html#" class="nav-ink">Как это работает</a>
                                <a href="index.html#" class="nav-ink">Блог</a>
                                <a href="index.html#" class="nav-ink">Команда</a>
                                <a href="index.html#" class="nav-ink">О нас</a>
                            </nav>
                        </div>
                        <div class="col col--3 mod--header">
                            <a href="index.html#" class="nav-ink">Вход</a>
                            <a href="index.html#" class="nav-ink">Регистрация</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <section class="section mod--hero">
                <div class="content">
                    <div class="columns mod--hero">
                        <div class="col col--1 mod--hero">
                            <h2>Анализ</h2>
                            <h1>Отчет</h1>
                            <span class="text-style-italic">ИИ</span>
                            <p>Получение результата, в кратчайшие сроки</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section mod--about">
                <div class="content">
                    <div class="columns mod--about">
                        <div class="col col--1 mod--about">
                            <div class="card card-black">
                                <img src="https://cdn.prod.website-files.com/67581409d07764238ebe8ddb/67581409d07764238ebe8e6f_man-bg.webp" alt="About"/>
                                <a href="index.html#" class="btn-arrow">ПОПРОБУЙТЕ!</a>
                            </div>
                        </div>
                        <div class="col col--2 mod--about">
                            <p>МЫ СПЕЦИАЛИЗИРУЕМСЯ НА БЫСТРОТЕ И КАЧЕСТВЕ РАБОТЫ НАШИХ КЛИЕНТОВ И СТАВИМ ЭТО В ПРИОРИТЕТ</p>
                            <a href="index.html#" class="btn-arrow">ПРОВЕРЬ СВОЙ САЙТ!</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="section mod--footer">
                <div class="content mod--footer">
                    <h2>Контакты</h2>
                    <nav>
                        <a href="" target="_blank">Telegram</a>
                        <a href="" target="_blank">ВК</a>
                        <a href="" target="_blank">Сферум</a>
                        <a href="" target="_blank">Одноклассники</a>
                    </nav>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>
